@model VehicleMonitorV1.Models.Vehicle

@{
    ViewBag.Title = "BaseMap";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaseMap</title>
    <link rel="stylesheet" href="~/Content/mapRelated.css">
</head>
    
<body>-->
<div> <!-- emply div usually have 0 height and that why we need to explicitly define css #map Height-->
    <h2>Vehicle Monitor V1</h2>
    <p>Data is from SQL Server Database, when vehicle is moving, this data is updated in near real time</p>
</div>

<!-- <div id="VehicleMonitorV1Map" style="width:800px;height:800px;background:yellow"></div> -->
<div><h3 id="LatTitle">@Html.DisplayNameFor(model => model.Latitude):@Html.DisplayFor(model => model.Latitude)</h3></div>
<div><h3 id="LonTitle">@Html.DisplayNameFor(model => model.Longitude):@Html.DisplayFor(model => model.Longitude)</h3></div>
<div id="VehicleMonitorV1Map"></div>
<div>
    <button id="TestButton" onclick="OnTestButton()">TestButton</button>
</div>
<div id="Test"><h2>Starting content test</h2></div>
<script src="~/Scripts/mapRelated.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb4MTAhDniYlU3Fp8kXi35C0Pbu2m_XRo&callback=initMap" async defer></script>    


